.innerPanelNoBorder {
	border-width: 0;
}

.boardPanel {
	padding-top: 20px;
}

.bigCardImage {
	width: 100%;	
}

.smallCardImage {
	width: 40px;
	margin: 2px 2px;	
}

@media screen and (max-width: 768px) {

	.content-desktop {display: none;}

}